background #222330
foreground #cef3ff
cursor #ffffff
selection_background #44475a
color0 #000000
color8 #545454
color1 #ff5555
color9 #ff5454
color2 #fa0074
color10 #50fa7b
color3 #7f0a1f
color11 #f0fa8b
color4 #3282ff
color12 #1200f8
color5 #1b3cff
color13 #ff78c5
color6 #0037fc
color14 #8ae9fc
color7 #bbbbbb
color15 #ffffff
selection_foreground #222330
window_margin_width 3
window_padding_width 3
macos_titlebar_color background
active_border_color #e84545
inactive_border_color #444750
hide_window_decorations no
remember_window_size  no
initial_window_width  1240
initial_window_height 800
~
